**Pair Programming Visualización III**

**En este ejercicio, de nuevo, trabajaremos con el csv que generamos en el ejercicio de pair programming de Pandas V, ese en el que habíamos unidos distintos csv en uno.**

>>**En estos ejercicios aprenderemos a hacer algunas gráficas usando la librería seaborn. Igual que el ejercicio de pair programming para solucionar algunas preguntas tendréis que usar métodos y herramientas aprendidas anteriormente como groupby, value_counts, rename, filtrado de datos, etc.**

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

pd.options.display.max_columns = None

In [8]:

df= pd.read_csv("./attackito_supremo.csv", index_col = 0)
df.head()

,case number,year,type,country,area,location,activity,name,sex,age,time,species,fatal (y/n),injury,date
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,14h00 -15h00,NaN,N,Minor injury to left thigh,18-Jun-2018
2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,07h45,NaN,N,Injury to left lower leg from surfboard skeg,09-Jun-2018
3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,NaN,2 m shark,N,Minor injury to lower leg,08-Jun-2018
4,2018.06.04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,NaN,"Tiger shark, 3m",N,Lacerations to leg & hand shark PROVOKED INCIDENT,04-Jun-2018

**1. Usando la librería seaborn, crea una gráfica de barras que muestre el número de personas que han hecho una actividad en cada año. Hacedlo solo desde el 2015.**

In [ ]:
df2015 = df[(df.year >= 2015) & (df.activity == 'Surfing')]

df2015 = df[df['year'] >= 2015] 
df2015= df[df['activity'] == 'surfing']

df2015.head(2)

In [6]:
df2015= df[df["year"]>2015]
df2015.head(3)

,case number,year,type,country,area,location,activity,name,sex,age,time,species,fatal (y/n),injury,date
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,14h00 -15h00,NaN,N,Minor injury to left thigh,18-Jun-2018
2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,07h45,NaN,N,Injury to left lower leg from surfboard skeg,09-Jun-2018

**2. Usando la librería seaborn, crea una gráfica de barras que muestre el número de ataques que han ocurrido cada año en función del sexo. Hacedlo solo desde el 2015.**

**3. ¿Cuántos ataques hubo por año? Seleccionad solo desde el año 1500.**

**4. Seleccionad solo los registros de USA, AUSTRALIA y SOUTH AFRICA. Muestra el número de ataques por país y año desde el año 1900**

**5. Realizad un boxplot donde se muestre los principales estadísticos del número de ataques por país.**

**📌 NOTA Somos analistas y no nos vale con sacar las gráficas. Incluid una celda de markdown donde expliqueis que es lo que estamos viendo en las gráficas, es decir, haced una interpretación de los resultados.**