**Cargar el dataset**

**üí° Pista Si hacemos la carga del dataset sin el par√°metro encoding nos dar√° error. Aqu√≠ ten√©is una lista de los encodings disponibles en pandas. Buscad por los encoding de tipo ISO.**

In [53]:
import pandas as pd


**2. Haced una exploraci√≥n b√°sica del dataframe:**

- **Cu√°ntas filas y columnas tiene el dataframe**
## 5rows x 22 columns

- **Mostrad las primeras cinco filas  del dataframe**

In [54]:
df = pd.read_csv("./attacks.csv")
df.head()

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson¬†McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,4,2018.06.04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

- **Mostrad las ultimas cinco filas del dataframe**

In [55]:
df.tail()

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
6109,6127,1804.02.26.R,1804.0,Boat,AUSTRALIA,New South Wales,"Georges Head, off Port Jackson",NaN,boat,NaN,...,NaN,"Sydney Gazette, 2/26/1804",1804.02.26-boat-GeorgesHead.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1804.02.26.R,1804.02.26.R,176.0,NaN,NaN
6110,6128,1803.05.17,1803.0,Sea Disaster,USA,South Carolina,Off Charleston,NaN,Captain Jones,M,...,NaN,"Evening Post, 6/13/1803",1803.05.17-Jones.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1803.05.17,1803.05.17,175.0,NaN,NaN
6111,6129,1803.03.00,1803.0,Unprovoked,AUSTRALIA,Western Australia,"Hamelin Harbour, at Faure Island",NaN,M. Lefevre & a sailor (rescuer),M,...,NaN,F. Peron ref in G.P. Whitley (Fishes of Austr...,1803.03.00-Lefevre.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1803.03.00,1803.03.00,174.0,NaN,NaN
6112,6130,1802.04.13.R,1802.0,Unprovoked,INDIA,NaN,NaN,NaN,NaN,NaN,...,NaN,Evening Post (New York) 4/13/1802,1802.04.13.R-India.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1802.04.13.R,1802.04.13.R,173.0,NaN,NaN
6113,6131,1801.12.18.R,1801.0,Provoked,NaN,NaN,NaN,Standing on landed shark's tail,Stephen Pettigew,N,...,12' shark,"The Evening Post, 12/18/1801",1801.12.18.R-Pettigrew.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1801.12.18.R,1801.12.18.R,172.0,NaN,NaN

- **Mostrad 2 filas al azar del dataframe**

In [56]:
df.sample(2)

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
4961,4973,1933.01.04,1933.0,Unprovoked,AUSTRALIA,Queensland,"Strand Beach, Kissing Point, Townsville",Swimming,Stanley Victor Locksley,M,...,NaN,V. M. Coppleson.Q11. (1933); V.M. Coppleson (1...,1933.01.04-Locksley.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1933.01.04,1933.01.04,1330.0,NaN,NaN
1850,1857,2002.05.31.a,2002.0,Unprovoked,USA,Florida,"St. George Island (near Apachicola), Franklin ...",Floating on a raft,Matt Tichenor,M,...,1 m shark,"South Florida Sun-Sentinel; Orlando Sentinel, ...",2002.05.31.a-Tichenor.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2002.05.31.a,2002.05.31.a,4446.0,NaN,NaN

- **¬øCu√°l es el nombre de las columnas del DataFrame?**

In [57]:
df.columns

Index(['Unnamed: 0', 'Case Number', 'Year', 'Type', 'Country', 'Area',
       'Location', 'Activity', 'Name', 'Sex ', 'Age', 'Time', 'Species ',
       'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

- **¬øCu√°les son los principales est√°disticos del dataframe? Mostrad por separado las variables categ√≥ricas y las variables num√©ricas.**

In [58]:
df.describe() # Nos devuelve los principales estaditicos

        Unnamed: 0         Year  original order
count  6114.000000  6114.000000     6114.000000
mean   3065.554629  1968.831207     3237.445044
std    1769.652139    43.745920     1769.652633
min       0.000000  1801.000000      172.000000
25%    1534.250000  1946.000000     1706.250000
50%    3066.500000  1980.000000     3236.500000
75%    4596.750000  2005.000000     4768.750000
max    6131.000000  2018.000000     6303.000000

In [59]:
df.info() #nos da la informaci√≥n sobre DT

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6114 entries, 0 to 6113
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              6114 non-null   int64
 1   Case Number             6113 non-null   object
 2   Year                    6114 non-null   float64
 3   Type                    6110 non-null   object
 4   Country                 6074 non-null   object
 5   Area                    5706 non-null   object
 6   Location                5626 non-null   object
 7   Activity                5603 non-null   object
 8   Name                    5914 non-null   object
 9   Sex                     5564 non-null   object
 10  Age                     3448 non-null   object
 11  Time                    2934 non-null   object
 12  Species                 3409 non-null   object
 13  Investigator or Source  6098 non-null   object
 14  pdf                     6114 non-null   object
 15  href formula            6113 non-null   object
 16  href                    6114 non-null   object
 17  Case Number.1           6114 non-null   object
 18  Case Number.2           6114 non-null   object
 19  original order          6114 non-null   float64
 20  Unnamed: 22             1 non-null      object
 21  Unnamed: 23             2 non-null      object
dtypes: float64(2), int64(1), object(19)
memory usage: 1.0+ MB

- **¬øCu√°l es el porcentaje de valores nulos en cada columna?**

In [60]:
porcentaje_nulls = ((df.isnull().sum() / len(df))*100).sort_values(ascending = False)
porcentaje_nulls

Unnamed: 22               99.983644
Unnamed: 23               99.967288
Time                      52.011776
Species                   44.242722
Age                       43.604841
Sex                        8.995747
Activity                   8.357867
Location                   7.981681
Area                       6.673209
Name                       3.271181
Country                    0.654236
Investigator or Source     0.261694
Type                       0.065424
Case Number                0.016356
href formula               0.016356
pdf                        0.000000
href                       0.000000
Case Number.1              0.000000
Case Number.2              0.000000
original order             0.000000
Year                       0.000000
Unnamed: 0                 0.000000
dtype: float64

- **Sacad los valores √∫nicos y su frecuencia de las variables num√©ricas. Almacenad los resultados en un diccionario. Uno para cada variable.**

In [61]:
repeticion_valores = df["Year"].value_counts()
repeticion_valores

df.columns

dic = {}

for i in df.columns:
    df[i].value_counts()
    dic[i] = df[i].value_counts()

- **Cambiad el nombre de las columnas para que todas est√©n en min√∫sculas y reemplazad los espacios por _.**

In [62]:
columnas_nuevas = {col :  col.lower() for col in df.columns}
df.rename(columns = columnas_nuevas, inplace= True)
df.head(2)

,unnamed: 0,case number,year,type,country,area,location,activity,name,sex,...,species,investigator or source,pdf,href formula,href,case number.1,case number.2,original order,unnamed: 22,unnamed: 23
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson¬†McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN

- **Eliminad las columnas de Unnamed: 22 y Unnamed: 23, Case Number.1, Case Number.2, original order, Investigator or Source, pdf, href formula.**

In [76]:
df.drop(["unnamed: 22","unnamed: 23", "case number.1", "case number.2", "original order", "investigator or source", "pdf", "href formula"], axis = 'columns', inplace=True)

df.columns

Index(['unnamed: 0', 'case number', 'year', 'type', 'country', 'area',
       'location', 'activity', 'name', 'sex ', 'age', 'time', 'species ',
       'href'],
      dtype='object')

- **Establece la columna Case Number como √≠ndice del dataframe.**

In [82]:
df.set_index("case number")

,unnamed: 0,year,type,country,area,location,activity,name,sex,age,time,species,href
case number,,,,,,,,,,,,,
2018.06.25,0,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...
2018.06.18,1,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson¬†McNeely,F,11,14h00 -15h00,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
2018.06.09,2,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,07h45,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
2018.06.08,3,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,NaN,2 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...
2018.06.04,4,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,NaN,"Tiger shark, 3m",http://sharkattackfile.net/spreadsheets/pdf_di...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1804.02.26.R,6127,1804.0,Boat,AUSTRALIA,New South Wales,"Georges Head, off Port Jackson",NaN,boat,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
1803.05.17,6128,1803.0,Sea Disaster,USA,South Carolina,Off Charleston,NaN,Captain Jones,M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
1803.03.00,6129,1803.0,Unprovoked,AUSTRALIA,Western Australia,"Hamelin Harbour, at Faure Island",NaN,M. Lefevre & a sailor (rescuer),M,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
1802.04.13.R,6130,1802.0,Unprovoked,INDIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
1801.12.18.R,6131,1801.0,Provoked,NaN,NaN,NaN,Standing on landed shark's tail,Stephen Pettigew,N,NaN,NaN,12' shark,http://sharkattackfile.net/spreadsheets/pdf_di...

**3. Guarda el csv que no tiene esas columnas para seguir us√°ndolo ma√±ana.**

In [83]:
df.to_csv("attack2.csv")